/*AppMoney712 APP Creation System || 01 - AUG -2015 || Copyright LEE WAI KWOK(JSTRUST CONSULTANCY) || license - Revised MIT.*/
	/*.ui-popup-container, .ui-popup {height: 100%;width: 100%;position: absolute;top:0;left:-15px;}*/   
	.plft {left:2em;right:auto;top:-0.5em;z-index:2;position:fixed;} 
	@media all and (min-width: 2200px){.plft {left:8em;}}
	.tablistright {left:auto;top:5em;right:1em;z-index:2;position:fixed;display:inline-block;}
	.tablistrights {left:auto;right:1.5em;z-index:2;position:fixed;display:inline-block;}
	/**/@media all and (min-width: 2200px){
	body,input,select,textarea,button,.ui-btn,.ui-navbar li .ui-btn{font-size:42px;}.ui-listview>.ui-li-divider{font-size:35px;}h1{font-size:95px;}h2{font-size:75px;}.ui-mini{font-size:30px;}}/**/
	@media all and (min-width: 1250px){.tabnwdh{width:96%;}}
	@media all and (min-width: 1020px) and (max-width: 1250px){.tabnwdh{width:95%;} }
	@media all and (min-width: 768px) and (max-width: 1020px){.tabnwdh{width:93%;}}
	@media all and (min-width: 601px) and (max-width: 768px){.tabnwdh{width:92%;}}
	@media all and (min-width: 321px) and (max-width: 600px){.tabnwdh{width:88%;}.tablistrights {right:1em;}}
	@media all and (max-width: 321px){.tabnwdh{width:85%;}}
	@media all and (min-width: 321px) and (max-width: 500px){p{margin:1px;}.tablistrights {right:0em;}}
	.vtsn{padding-top:60px;padding-left:5px;padding-right:5px;}.vtnn{padding-top:60px;}
	/**/@media all and (min-width: 2200px){.vtnn{padding-top:160px;}}/**/
	.vntsns{overflow-y:auto;overflow-x:hidden;}
		.ifrwidthps{overflow-y:auto;overflow-x:hidden;}
		.ifrwidthpn{overflow-y:auto;overflow-x:hidden;}
		.ifrwidth{ width:100%;}
		.ifrimgwidth{ width:30%;}
		@media all and (min-width: 500px) and (max-width: 768px){.ifrimgwidth {width:60%;}}
		@media all and (min-width: 321px) and (max-width: 500px){.ifrimgwidth {width:100%;}}
		@media(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){.xkn{height:3px;}}
		@media(-webkit-min-device-pixel-ratio: 3),(min-resolution: 192dpi){.xkn{height:3px;}}
		@media all and (min-width: 1250px){.playd{font-size:88px;}.playdw{font-size:144px;}}
		@media all and (min-width: 1020px) and (max-width: 1250px){.playd{font-size:66px;}.playdw{font-size:108px;}}
		@media all and (min-width: 768px) and (max-width: 1020px){.playd{font-size:44px;}.playdw{font-size:72px;}}
		@media all and (min-width: 601px) and (max-width: 768px){.playd{font-size:33px;}.playdw{font-size:54px;}}
		@media all and (min-width: 321px) and (max-width: 600px){.playd{font-size:28px;}.playdw{font-size:36px;}}
		@media all and (max-width: 320px){.playd{font-size:22px;}.playdw{font-size:26px;}}
		@media all and (max-width: 768px){.ifrpig{overflow:hidden;}}
		@media all and (min-width: 769px){.ifrpig{overflow:auto;}}
		.gridpict{position:absolute;bottom:8px;left:5px;text-indent:5px;padding-top:5px;padding-bottom:5px;}
		.popn{position:absolute;top:0%;right:1em;index-z:2;padding:22px;} 
	.ui-icon-nbr:after{background-image: url("images/nbr.svg");}
	.ui-icon-nbr:after{background-size: 18px 18px;}
	.ui-icon-pigpaper:after{background-image: url("images/pigpaper.svg");}
	.ui-icon-pigpaper:after{background-size: 18px 18px;}
	.ui-icon-qr:after{background-image: url("images/qr.svg");}
	.ui-icon-qr:after{background-size: 18px 18px;} 
	.ui-icon-pausesound:after{background-image: url("images/[pause]sound.svg");}
	.ui-icon-pausesound:after{background-size: 18px 18px;}
	.ui-icon-football:after{background-image: url("images/football.svg");}
	.ui-icon-football:after{background-size: 18px 18px;}
	.ui-icon-sound:after{background-image: url("images/sound.svg");}
	.ui-icon-sound:after{background-size: 18px 18px;}
	.ui-icon-popup:after{background-image: url("images/popup.svg");}
	.ui-icon-popup:after{background-size: 18px 18px;} 
	.ui-icon-qrslt:after{background-image: url("images/qrslt.svg");}
	.ui-icon-qrslt:after{background-size: 18px 18px;} 
	.ui-icon-ddpick:after{background-image: url("images/ddpick.svg");}
	.ui-icon-ddpick:after{background-size: 18px 18px;} 
	.ui-icon-dlist:after{background-image: url("images/dlist.svg");}
	.ui-icon-dlist::after{background-size: 18px 18px;}  
	.ui-icon-nav:after{background-image: url("images/nav.svg");}
	.ui-icon-nav::after{background-size: 18px 18px;}  
	.album{background-size:100%;background-repeat: no-repeat; }
	.fit-content{bottom:0px;top:44px;position:absolute;left:0;right:0;}
	.introcptalbum{position:absolute;bottom:0px;left:0px;width:100%;padding:18px;}	
	.ftrbg{position:absolute;bottom:0px;left:2px;right:4px;text-indent:2px;width:100%;padding-top:18px;padding-bottom:18px;}
	.webkitm::-webkit-scrollbar {width: 5px;height: 5px;background-color:#535353;}
	.webkitm::-webkit-scrollbar-track {background-color: #AAAAAA;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
	.webkitm::-webkit-scrollbar-thumb {background-color:#535353; } 
	@media all and (max-width: 400px){
	.webkitm::-webkit-scrollbar {width: 5px;height: 5px;background-color: #386292;}
	.webkitm::-webkit-scrollbar-track {background-color: #AAAAAA;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
	.webkitm::-webkit-scrollbar-thumb {background-color:  #386292; } 
	;}
	/*@media all and (min-width: 992px){::-webkit-scrollbar {width: 0px;height: 0px;};}*/
	@media all and (min-width: 992px) and (-webkit-min-device-pixel-ratio: 1){::-webkit-scrollbar {width: 5px;height: 5px;};}
	.btndata {display: none;}	
	.tps tr,.tps td{border-top: 1px solid #000000;}
	.ui-listview li:last-child{ border:none;}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
.dd {position:relative;display:block;}
.dd-list{display:block;position:relative;}
.xkn{height:2px;width:2px;}.calendjs{max-width:55px;float:left;}
@media(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi){.xkn{height:3px;}.calendjs{max-width:110px;float:left;}}
@media(-webkit-min-device-pixel-ratio: 3),(min-resolution: 192dpi){.xkn{height:3px;}.calendjs{max-width:165px;float:left;}}
.vws{font-size:1.2em;text-shadow:0  0  0  0;width:100%;padding-left:3px;padding-top:3px;padding-bottom:3px;} 
.vwsgt{font-size:1.2em;text-shadow:0  0  0  0;} 
/**/@media all and (min-width: 2200px){.vws,.vwsgt{font-size:3.6em;}}/**/
.dyn{white-space:normal;padding-left:2px;width:98%;text-align:left;border:none;}

.swiper-album{position:absolute;bottom:0px;left:0px;width:100%;padding-top:18px;padding-bottom:18px;}
.imghtml,.udtrhtml{padding-left:5px;}
.divp{overflow-y:auto;height:100%;}
.vtnn,.swiper-wrapper{height:100%;}