<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "appsystem"
        versionCode="versioncode" 
        version   = "version">
	<preference name="phonegap-version" value="3.6.3"/>
	<preference name="permissions" value="none"/>
	<preference name="LoadUrlTimeoutValue" value="50000"/>
	<preference name="disallowOverscroll" value="true"/>
	<preference name="AllowInlineMediaPlayback" value="true"/>
	<preference name="Orientation" value="portrait"/>
	<preference name="BackgroundColor" value="0xff0000ff"/>
	<preference name="fullscreen" value="false"/>

    <name>Appmn</name>
    <description>
        Appdes  
    </description>
    <author href="" email="">
       authornm 
    </author>
	<gap:platform name="android"/>
	<gap:platform name="ios"/>
	<icon src="icon.png" />
	
	<!--icon!-->
	<!--SplashScreen!-->

<access origin="*"/>
<access origin="tel:*" launch-external="true"/>
<access origin="mailto:*" launch-external="true"/>
<access origin="geo:*" launch-external="true"/>
<access origin="sms:*" launch-external="true"/>
<access origin="whatapps:*" launch-external="true"/>

<platform name="android"> 
<access origin="market:*"  launch-external="true"/>
</platform> 
<platform name="ios"> 
<access origin="itms:*" launch-external="true"/>
<access origin="itms-apps:*" launch-external="true"/>
</platform> 


<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
<!--<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />!-->
<!--<gap:plugin name="de.appplant.cordova.plugin.email-composer" version="0.8.2" />!--> 
<!--<gap:plugin name="nl.x-services.plugins.calendar" version="4.2" />!-->
<!--<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />!-->
<!--<gap:plugin name="mobi.moica.whatsapp" version="0.0.1" />!-->
<!--<gap:plugin name="ch.ti8m.documenthandler" version="0.2.1" />!-->
<!--<gap:plugin name="com.sharinglabs.cordova.plugin.cache" version="1.0.0" />!-->
<!--<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />!-->
<!--<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />!-->
</widget>