@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-7so59g');
	src:url('fonts/icomoon.eot?#iefix-7so59g') format('embedded-opentype'),
		url('fonts/icomoon.woff?-7so59g') format('woff'),
		url('fonts/icomoon.ttf?-7so59g') format('truetype'),
		url('fonts/icomoon.svg?-7so59g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="rps-"], [class*=" rps-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rps-paper:before {
	content: "\e871";
}
.rps-scissors:before {
	content: "\e872";
}
.rps-rock:before {
	content: "\e873";
}
